<nav class="sitemap">
  <a class="link -active" href="#">Inicio</a>
  <a class="link" href="#aboutUs">Acerca de nosotros</a>
  <a class="link" href="#history">Historia</a>
  <a class="link" href="#contact">Contacto</a>
</nav>

<nav class="networks">
  <a class="social" href="https://www.linkedin.com" target="_blank">
    <img src="assets/icons/linkedin.svg" alt="linkedin" />
  </a>
  <a class="social" href="https://www.vimeo.com" target="_blank">
    <img src="assets/icons/vimeo.svg" alt="vimeo" />
  </a>
  <a class="social" href="https://www.instagram.com" target="_blank">
    <img src="assets/icons/instagram.svg" alt="instagram" />
  </a>
  <a class="social" href="https://www.twitter.com" target="_blank">
    <img src="assets/icons/twitter.svg" alt="twitter" />
  </a>
  <a class="social" href="https://www.facebook.com" target="_blank">
    <img src="assets/icons/facebook.svg" alt="facebook" />
  </a>
</nav>

<div class="logo">
  <img src="assets/icons/logo.svg" alt="logo" />
</div>
