@import 'general';

:host{
  background-color: $sickly-yellow;
  padding: 4rem 4rem 3rem 4rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem 2rem;
  grid-template-areas: "sitemap logo" "networks logo";
  align-items: center;
  @include mq-down(sm){
    padding: 3rem 2rem 2rem 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: "sitemap" "logo" "networks";
  }

  .logo{
    grid-area: logo;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
      width: 55px;
      height: 55px;
      object-fit: contain;
      user-select: none;
      pointer-events: none;
    }
    @include mq-down(sm){
      justify-content: left;
    }
  }

  .sitemap .link{
    @extend %text-style-13;
    display: inline-block;
    margin-right: 2rem;
    &:last-child{
      margin-right: 0;
    }
    &.-active{
      font-weight: 700;
    }
  }

  .networks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem 0;
    .social{
      display: inline-block;
      margin-right: 0.75rem;
    }
  }
}
