@use 'colors.scss';

%text-style-1 {
  font-family: 'HelveticaNeue';
  font-size: 53px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.05px;
  color: $white-primary;
}

%text-style-2 {
  font-family: 'HelveticaNeue';
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.06px;
  color: $white-primary;
}

%text-style-3 {
  font-family: 'HelveticaNeue';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: 0.51px;
  color: $text-primary;
}

%text-style-4 {
  font-family: 'HelveticaNeue';
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.06px;
  color: $dark-primary;
}

%text-style-5 {
  font-family: 'HelveticaNeue';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.14px;
  color: $white-primary;
}

%text-style-9 {
  font-family: 'HelveticaNeue';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.14px;
  color: $white-primary;
}

%text-style-10 {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  color: $white-primary;
}

%text-style-11 {
  font-family: 'HelveticaNeue';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: 1.01px;
  color: $white-primary;
}

%text-style-12 {
  font-family: 'HelveticaNeue';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.87px;
  text-align: right;
  color: $sickly-yellow;
}

%text-style-13 {
  font-family: 'HelveticaNeue';
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: 1.01px;
  color: #273048;
}

%text-style-14 {
  font-family: 'HelveticaNeue';
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.06px;
  color: $white-primary;
}

%text-style-15 {
  font-family: 'HelveticaNeue';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.51px;
  color: $white-primary;
}
